:root {
  --global-primary-light: #0094ff;
  --global-primary-main: #33a9ff;
  --global-primary-dark: #0076cc;
  --global-primary-contrast: #ffffff;

  --global-secondary-light: #1fbf75;
  --global-secondary-main: #35df90;
  --global-secondary-dark: #18955b;
  --global-secondary-contrast: #ffffff;

  --global-warning-light: #f9b42e;
  --global-warning-main: #fac661;
  --global-warning-dark: #ee9f07;
  --global-warning-contrast: #ffffff;

  --global-danger-light: #f15131;
  --global-danger-main: #f47961;
  --global-danger-dark: #e1310f;
  --global-danger-contrast: #ffffff;
}
