:root {
  --ui-accent-dark: #0094ff;
  --ui-accent-main: #0076cc;
  --ui-accent-light: #33a9ff;
  --ui-accent-contrast-text: #ffffff;

  --ui-positive-dark: #18955b;
  --ui-positive-main: #1fbf75;
  --ui-positive-light: #35df90;
  --ui-positive-contrast-text: #ffffff;

  --ui-negative-dark: #e1310f;
  --ui-negative-main: #f15131;
  --ui-negative-light: #f47961;
  --ui-negative-contrast-text: #ffffff;

  --ui-warning-dark: #ee9f07;
  --ui-warning-main: #f9b42e;
  --ui-warning-light: #fac661;
  --ui-warning-contrast-text: #ffffff;
}
