.ui-button {
  --background: initial;
  --background-hover: initial;
  --background-focused: initial;
  --background-activated: initial;
  --color: initial;

  display: inline-block;
  position: relative;
  padding: 0 1em;
  height: 56px;
  line-height: 56px;
  font-size: 24px;
  background-color: var(--background);
  color: var(--color);
}

.ui-button:hover {
  background-color: var(--background-hover);
}

.ui-button:focus {
  background-color: var(--background-focused);
}

.ui-button_color_primary {
  --background: var(--global-primary-light);
  --background-hover: var(--global-primary-main);
  --background-focused: var(--global-primary-dark);
  --background-activated: var(--global-primary-dark);
  --color: var(--global-primary-contrast);
}

.ui-button_color_secondary {
  --background: var(--global-secondary-light);
  --background-hover: var(--global-secondary-main);
  --background-focused: var(--global-secondary-dark);
  --background-activated: var(--global-secondary-dark);
  --color: var(--global-secondary-contrast);
}
