.ui-button {
  --background: initial;
  --background-hover: initial;
  --background-focused: initial;
  --background-activated: initial;
  --background-disabled: rgba(123, 123, 123, 0.2);
  --color: initial;
  --color-hover: initial;
  --color-focused: initial;
  --color-activated: initial;
  --color-disabled: rgb(123, 123, 123);

  background-color: var(--background);
  color: var(--color);

  padding: 0 24px;
  height: 56px;
  font-size: 24px;
  line-height: 56px;
  outline: none;

  @media (any-hover: hover) {
    &:hover {
      background-color: var(--background-hover);
      color: var(--color-hover);
    }
  }

  &:focus {
    background-color: var(--background-focused);
    color: var(--color-focused);
  }

  &_color_accent {
    --background: var(--ui-accent-main);
    --background-hover: var(--ui-accent-light);
    --background-focused: var(--ui-accent-dark);
    --background-activated: var(--ui-accent-dark);
    --color: var(--ui-accent-contrast-text);
    --color-hover: var(--ui-accent-contrast-text);
    --color-focused: var(--ui-accent-contrast-text);
    --color-activated: var(--ui-accent-contrast-text);
    --color-disabled: var(--ui-accent-contrast-text);
  }

  &_color_positive {
    --background: var(--ui-positive-main);
    --background-hover: var(--ui-positive-light);
    --background-focused: var(--ui-positive-dark);
    --background-activated: var(--ui-positive-dark);
    --color: var(--ui-positive-contrast-text);
    --color-hover: var(--ui-positive-contrast-text);
    --color-focused: var(--ui-positive-contrast-text);
    --color-activated: var(--ui-positive-contrast-text);
    --color-disabled: var(--ui-positive-contrast-text);
  }

  &_color_negative {
    --background: var(--ui-negative-main);
    --background-hover: var(--ui-negative-light);
    --background-focused: var(--ui-negative-dark);
    --background-activated: var(--ui-negative-dark);
    --color: var(--ui-negative-contrast-text);
    --color-hover: var(--ui-negative-contrast-text);
    --color-focused: var(--ui-negative-contrast-text);
    --color-activated: var(--ui-negative-contrast-text);
    --color-disabled: var(--ui-negative-contrast-text);
  }

  &_color_warning {
    --background: var(--ui-warning-main);
    --background-hover: var(--ui-warning-light);
    --background-focused: var(--ui-warning-dark);
    --background-activated: var(--ui-warning-dark);
    --color: var(--ui-warning-contrast-text);
    --color-hover: var(--ui-warning-contrast-text);
    --color-focused: var(--ui-warning-contrast-text);
    --color-activated: var(--ui-warning-contrast-text);
    --color-disabled: var(--ui-warning-contrast-text);
  }
}

